<div class="row subpage reporte">
  <h2 class="col-md-3 text-center left-content">
    REPORTES
  </h2>

  <div class="col-md-9 right-content">
    <div class="row card-container">
      <div class="card text-white mb-3 col-md-3 offset-md-2">
        <div routerLink="/listar-equipos" class="card-body">
          <i class="fas fa-scroll"></i>
          <h4 class="card-title">SEGUIMIENTO DE EQUIPOS</h4>
        </div>
      </div>
      <div routerLink="/reporte-medico-visual" class="card text-white mb-3 col-md-3 offset-md-2">
        <div class="card-body">
          <i class="fas fa-history"></i>
          <h4 class="card-title">REPORTE MÉDICO</h4>
        </div>
      </div>
    </div>
  </div>