<p>
  ¿Qué desea hacer?
</p>

<p>
  Los formularios presentados en la apliación se encuentran alineados con el decreto 4725 de 2005 que establece los
  parámetros a tener en cuenta en la Hoja de vida del equipo y el su respectivo registro histórico
</p>

<div class="container">
  <div class="row">
    <div class="card text-white bg-primary mb-3 col-md-6">
      <div class="card-body">
        <h4 class="card-title">REPORTE DE INCIDENTE O FALLA</h4>
        <p class="card-text">Llevar la trazabilidad de los equipos médicos con los que cuenta la institución para llevar
          una vigilancia en la post - adquisición de estos de tal forma que se garantice que los dispositivos médicos en
          uso son seguros y efectivos.</p>
      </div>
    </div>
    <div class="card text-white bg-primary mb-3 col-md-6">
      <div class="card-body">
        <h4 class="card-title">REGISTRO HISTÓRICO DEL EQUIPO BIOMÉDICO</h4>
        <p class="card-text">Llevar la trazabilidad de los equipos médicos con los que cuenta la institución para llevar
          una vigilancia en la post - adquisición de estos de tal forma que se garantice que los dispositivos médicos en
          uso son seguros y efectivos.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card text-white bg-secondary mb-3 col-md-6">
      <div class="card-body">
        <h4 class="card-title">REPORTE DE MANTENIMIENTO PREVENTIVO O CORRECTIVO</h4>
        <p class="card-text">El trabajo realizado sobre un equipo o parte para restaurar su estado operacional. No es
          planificado, se lleva a cabo a partir del reporte que hace el usuario, operador del equipo o personal que
          realiza el mantenimiento programado</p>
      </div>
    </div>
    <div class="card text-white bg-success mb-3 col-md-6">
      <div class="card-body">
        <h4 class="card-title">FORMATO DE RUTINA DE MANTENIMIENTO PREVENTIVO SEGUN FABRICANTE</h4>
        <p class="card-text">El mantenimeinto preventivo es un procedimeinto periodico para reducir el riesgo de fallo y
          asegurar la continuacia operación de los equipos medicos, logrando asi, aumentar su ciclo de vida util además de
          garantizar que estos muestren muestras datos confiables y seguros.</p>
      </div>
    </div>
  </div>
</div>