.home {
    min-height: calc(100vh - 205px);
    max-height: calc(100vh - 205px);

    .container {
        .card {
            border-radius: 20px;
            text-align: center;
            * {
                text-decoration: none;
                color: inherit;
                &:hover {
                    text-decoration: none;
                }
            }
            
            &:hover {
                background-color: #2A1F36;
                color: #FFF;
                .fas {
                    height: 0;
                }
                .card-text {
                    height: 135px;
                }
            }
            .fas {
                transition: height ease-in-out 1s;
                height: 97px;
                overflow: hidden;
                font-size: 6rem;
            }
            .card-text {
                transition: height ease-in-out 1s;
                height: 0px;
                overflow: hidden;
                font-size: 14px;
            }
            .card-title {
                text-align: center;
            }
        }
    }
}