<div class="row subpage">
  <h2 class="col-md-3 text-center left-content">
    REPORTE DE MANTENIMIENTO PREVENTIVO O CORRECTIVO
  </h2>

  <div class="col-md-9 right-content">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="col-form-label">Nombre del ingeniero</label>
        <input type="text" class="form-control" placeholder="Nombre del ingeniero" id="ing">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Nombre del equipo</label>
        <input type="text" class="form-control" placeholder="Nombre del equipo" id="equipo">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Marca</label>
        <input type="text" class="form-control" placeholder="Marca del equipo" id="marca">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Ubicación del equipo</label>
        <input type="text" class="form-control" placeholder="Ubicación del equipo" id="ubicacion">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Serie</label>
        <input type="text" class="form-control" placeholder="Serie del equipo" id="serie">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Modelo</label>
        <input type="text" class="form-control" placeholder="Modelo del equipo" id="modelo">
      </div>
      <div class="form-group col-md-12">
        <label class="form-control-label">Tipo de Mantenimiento</label>
        <select class="custom-select">
          <option selected="">Seleccione ... </option>
          <option value="Preventivo">Preventivo</option>
          <option value="Correctivo">Correctivo</option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <label class="col-form-label">Materiales a usar</label>
        <input type="text" class="form-control" placeholder="Materiales a usar" id="meterial">
      </div>
      <div class="form-group col-md-12">
        <label class="col-form-label">Diagnóstico</label>
        <input type="text" class="form-control" placeholder="Diagnóstico" id="diagnostico">
      </div>
      <div class="form-group col-md-12">
        <label class="col-form-label">Trabajos Ejecutados</label>
        <input type="text" class="form-control" placeholder="Trabajos ejecutados" id="trejecutado">
      </div>
      <div class="form-group col-md-12">
        <label class="col-form-label">Observaciones</label>
        <input type="text" class="form-control" placeholder="Observaciones" id="observaciones">
      </div>
      <div class="time-pickers col-md-12 row">
        <div class="form-group col-md-3">
          <mat-form-field class="form-group" appearance="fill">
            <mat-label>Fecha</mat-label>
            <input matInput #fecha [matDatepicker]="date" (dateChange)="dateChanged(fecha, $event)">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-md-3">
          <mat-form-field class="form-group" appearance="fill">
            <mat-label>Hora Inicio</mat-label>
            <input matInput #horaInicio [matDatepicker]="startTime" type="time" placeholder="Hora de Inicio"
              (dateChange)="initHourChanged(horaInicio, $event)">
          </mat-form-field>
        </div>
        <div class="form-group col-md-3">
          <mat-form-field class="form-group" appearance="fill">
            <mat-label>Hora Final</mat-label>
            <input matInput #horaFin [matDatepicker]="endTime" type="time" placeholder="Hora de Fin"
              (dateChange)="endHourChanged(horaFin, $event)">
          </mat-form-field>
        </div>
        <div class="form-group col-md-3">
          <label class="col-form-label">Duracion Total</label>
          <input type="text" class="form-control" placeholder="datepicker" id="duracion" disabled>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label class="col-form-label">Firma Ingeniero</label>
        <input type="text" class="form-control" placeholder="datepicker" id="firma">
      </div>
    </div>
  </div>
</div>
