.registro-mantenimiento {
    input.mat-input-element[type="text"] {
        border: none;
    }
    .time-pickers {
        > div {
            &.form-group {
                height: 90px;
                margin: 0;
                overflow: hidden;
            }
            vertical-align: middle;
            .mat-form-field{
                height: 63px;
                overflow: hidden;
            }
        }
    }
    
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field-autofill-control{
        background-color: #FFF;
    }

    .mat-form-field-label-wrapper {
        overflow: visible;
    }

    .engineer-field {
        margin-top: 18px;
        &.mat-form-field-should-float {
            .mat-form-field-label {
                &.ng-star-inserted{
                    color: #545871;
                    font-size: 20px;
                    transform: translateY(-1.7em) scale(.75) perspective(100px) translateZ(.001px) !important;
                }
            }
        }
    }

    .mat-form-field-should-float {
        .mat-form-field-label {
            &.ng-star-inserted{
                color: #545871;
                transform: translateY(-1.3em) scale(.75) perspective(100px) translateZ(.001px) !important;
            }
        }
    }
    
    .mat-form-field-label {
        line-height: 36px;
        padding: 0 10px;
    }
    .button-wrapper {
        text-align: center;
        button {
            margin: 10px;
            &.guardar-reporte[disabled] {
                background-color: #777;
            }
        }
    }
    
}