<div class="row subpage reporte-medico">
  <h2 class="col-md-3 text-center left-content">
    REPORTE DE INCIDENTE
  </h2>
  
  <div class="col-md-9 right-content">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="col-form-label">Nombre del equipo</label>
        <select class="form-control" [(ngModel)]="equipoSeleccionado">
          <option value="0">Nombre del equipo</option>
          <option *ngFor="let equipo of equipos" value="{{equipo.idequipo}}">{{equipo.nombre}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Código del equipo</label>
        <input disabled type="text" value="{{getEquipoById(equipoSeleccionado).codigo}}" class="form-control" placeholder="Codigo del equipo" id="codigo">
      </div>
      <div class="form-group col-md-12">
        <label class="col-form-label">Observación</label>
        <input type="text" [(ngModel)]="reporte.observaciones" class="form-control" placeholder="Agregue detalle del incidente presentado" id="observacion">
      </div>
      <div class="form-group col-md-12 row">
        <mat-form-field class="col-md-12">
          <input class="form-control" type="text" placeholder="Nombre del Médico o auxiliar que reporta" matInput [formControl]="myControl"
               [matAutocomplete]="auto">
             <mat-autocomplete #auto="matAutocomplete" [displayWith]="showUser" (optionSelected)="userNameSelected($event)">
               <mat-option *ngFor="let medico of medicos" [value]="medico">
                 {{medico.name + " " + medico.lastname}}
              </mat-option>
          </mat-autocomplete>
       </mat-form-field>
      </div>
      <div class="time-pickers col-md-12 row">
        <div class="form-group col-md-6">
          <label class="col-form-label" for="fechaReporte">Fecha del reporte</label>
          <input disabled type="text" [ngModel]="fechaReporte | date:'dd-MM-yyyy'" (ngModelChange)="fechaReporte=$event" class="form-control" placeholder="Fecha del reporte" id="fechaReporte">
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label" for="horaReporte">Hora del reporte</label>
          <input disabled type="text" [ngModel]="fechaReporte | date:'HH:mm:ss'" (ngModelChange)="fechaReporte=$event" class="form-control" placeholder="Hora del reporte" id="horaReporte">
        </div>
      </div>
      <div class="col-md-12 button-wrapper">
        <button [disabled]="!validarReporte()" type="button"  class="btn guardar-reporte btn-primary" (click)="saveReporte()">Guardar cambios</button>
        <button type="button" routerLink="/home" class="btn btn-secondary">Regresar a la lista de opciones</button>
      </div>
    </div>
  </div>
</div>

