<p>
  REPORTE DE INCIDENTE
</p>

<div class="container">
  <div class="row">
    <div class="form-group col-md-6">
      <label class="col-form-label">Nombre del equipo</label>
      <input type="text" class="form-control" placeholder="Nombre del equipo" id="nombre">
    </div>
    <div class="form-group col-md-6">
      <label class="col-form-label">Código del equipo</label>
      <input type="text" class="form-control" placeholder="Codigo del equipo" id="codigo">
    </div>
    <div class="form-group col-md-12">
      <label class="col-form-label">Observación</label>
      <input type="text" class="form-control" placeholder="Agregue detalle del incidente presentado" id="observacion">
    </div>
    <div class="form-group col-md-12">
      <label class="col-form-label">Nombre del médico o auxiliar que reporta</label>
      <input type="text" class="form-control" placeholder="Medico o auxiliar" id="medico">
    </div>
    <div class="form-group col-md-6">
      <label class="col-form-label">Fecha del reporte</label>
      <input type="text" class="form-control" placeholder="datepicker" id="fecha">
    </div>
    <div class="form-group col-md-6">
      <label class="col-form-label">Hora del reporte</label>
      <input type="text" class="form-control" placeholder="datepicker" id="hora">
    </div>
  </div>
</div>
