<div class="reporte-medico-visual">
  <h2 class="title">
    REPORTE MÉDICO
  </h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <th scope="col">Nombre del equipo</th>
      <th scope="col">Código del equipo</th>
      <th scope="col">Observaciones</th>
      <th scope="col" aria-label="Nombre del médico o auxiliar que reporta">Nombre reporta</th>
      <th scope="col">Fecha del reporte</th>
      <th scope="col">Hora del reporte</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of errores">
        <td>{{getEquipoById(item.equipoid).nombre}}</td>
        <td>{{getEquipoById(item.equipoid).codigo}}</td>
        <td>{{item.observaciones}}</td>
        <td>{{getUserById(item.userid).name + ' ' + getUserById(item.userid).lastname}}</td>
        <td>{{parseDate(item.fecha_reporte)}}</td>
        <td>{{parseHour(item.fecha_reporte)}}</td>
      </tr>
    </tbody>
  </table>
  <div class="col-md-12 button-wrapper">
    <button type="button" routerLink="/reporte" class="btn btn-secondary">Regresar al menu</button>
  </div>
</div>