<div class="row subpage no-scroll historico">
  <h2 class="col-md-3 text-center left-content">
    REGISTRO HISTÓRICO DEL EQUIPO BIOMÉDICO
  </h2>
  <div class="col-md-9 right-content">
    <p>
      REGISTRO HISTÓRICO
    </p>
    <p>Información del equipo</p>
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-form-label">Nombre</label>
        <input name="nombre" [(ngModel)]="equipo.nombre" type="text" class="form-control" placeholder="Nombre del equipo" id="nombre">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Código</label>
        <input name="codigo" [(ngModel)]="equipo.codigo" type="text" class="form-control" placeholder="Codigo del equipo" id="codigo">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Marca</label>
        <input name="marca" [(ngModel)]="equipo.marca" type="text" class="form-control" placeholder="Marca del equipo" id="marca">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Modelo</label>
        <input name="modelo" [(ngModel)]="equipo.modelo" type="text" class="form-control" placeholder="Modelo del equipo" id="modelo">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Serie</label>
        <input name="serie" [(ngModel)]="equipo.serie" type="text" class="form-control" placeholder="Serie del equipo" id="serie">
      </div>
    </div>
    <p>Fabricante</p>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="col-form-label">Nombre</label>
        <input name="nombreFabricante" [(ngModel)]="equipo.nombreFabricante" type="text" class="form-control" placeholder="Nombre del Fabricante" id="nombreFab">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Pais</label>
        <input name="paisFabricante" [(ngModel)]="equipo.paisFabricante" type="text" class="form-control" placeholder="Pais del fabricante" id="paisFab">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Correo electrónico</label>
        <input name="correoFabricante" [(ngModel)]="equipo.correoFabricante" type="text" class="form-control" placeholder="Email" id="email">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Número de contacto</label>
        <input name="contactoFabricante" [(ngModel)]="equipo.contactoFabricante" type="text" class="form-control" placeholder="Número de contacto" id="numero">
      </div>
      <div class="form-group col-md-12">
        <label class="col-form-label">Sitio web del fabricante</label>
        <input name="webFabricante" [(ngModel)]="equipo.webFabricante" type="text" class="form-control" placeholder="Sitio web" id="web">
      </div>
    </div>
    <p>Manuales</p>
    <div class="row">
      <div class="custom-control custom-switch col-md-6">
        <input type="checkbox" name="manualPartes" [(ngModel)]="equipo.manualPartes" class="custom-control-input" id="parte" checked="">
        <label class="custom-control-label" for="parte">Partes</label>
      </div>
      <div class="custom-control custom-switch col-md-6">
        <input name="equipo.manualOperacion" [(ngModel)]="equipo.manualOperacion" type="checkbox" class="custom-control-input" id="operacion" checked="">
        <label class="custom-control-label" for="operacion">Operación</label>
      </div>
      <div class="custom-control custom-switch col-md-6">
        <input name="equipo.manualServicio" [(ngModel)]="equipo.manualServicio" type="checkbox" class="custom-control-input" id="servicio" checked="">
        <label class="custom-control-label" for="servicio">Servicio</label>
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label" for="otro">Otros</label>
        <input name="equipo.manualOtros" [(ngModel)]="equipo.manualOtros" type="text" class="form-control"
          placeholder="Agregue detalle de más manuales con los que venga el equipo" id="otro">
      </div>
    </div>
    <p>Planos</p>
    <div class="row">
      <div class="custom-control custom-switch col-md-6">
        <input name="equipo.planoElectrico" [(ngModel)]="equipo.planoElectrico" type="checkbox" class="custom-control-input" id="electrico" checked="">
        <label class="custom-control-label" for="electrico">Eléctricos</label>
      </div>
      <div class="custom-control custom-switch col-md-6">
        <input name="equipo.planoElectronico" [(ngModel)]="equipo.planoElectronico" type="checkbox" class="custom-control-input" id="electronico" checked="">
        <label class="custom-control-label" for="electronico">Electrónicos</label>
      </div>
      <div class="custom-control custom-switch col-md-6">
        <input name="equipo.planoHidraulico" [(ngModel)]="equipo.planoHidraulico" type="checkbox" class="custom-control-input" id="hidraulico" checked="">
        <label class="custom-control-label" for="hidraulico">Hidráulicos</label>
      </div>
      <div class="custom-control custom-switch col-md-6">
        <input name="equipo.planoNeumatico" [(ngModel)]="equipo.planoNeumatico" type="checkbox" class="custom-control-input" id="neumatico" checked="">
        <label class="custom-control-label" for="neumatico">Neumáticos</label>
      </div>
    </div>
    <div class="col-md-12 button-wrapper">
      <button type="button" [disabled]="!validateData()" class="btn btn-primary guardar-equipo" (click)="confirm()">Guardar cambios</button>
      <button type="button" routerLink="/home" class="btn btn-secondary">Regresar a la lista de opciones</button>
    </div>
  </div>
</div>