<div class="row subpage">
  <h2 class="col-md-3 text-center left-content">
    REGISTRO HISTÓRICO DEL EQUIPO BIOMÉDICO
  </h2>
  <p>
    REGISTRO HISTÓRICO
  </p>

  <div class="col-md-9 right-content">
    <p>Información del equipo</p>
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-form-label">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre del equipo" id="nombre">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Código</label>
        <input type="text" class="form-control" placeholder="Codigo del equipo" id="codigo">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Serie</label>
        <input type="text" class="form-control" placeholder="Serie del equipo" id="serie">
      </div>
    </div>
    <p>Fabricante</p>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="col-form-label">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre del Fabricante" id="nombreFab">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Pais</label>
        <input type="text" class="form-control" placeholder="Pais del fabricante" id="paisFab">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Correo electrónico</label>
        <input type="text" class="form-control" placeholder="Email" id="email">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Número de contacto</label>
        <input type="text" class="form-control" placeholder="Número de contacto" id="numero">
      </div>
      <div class="form-group col-md-12">
        <label class="col-form-label">Sitio web del fabricante</label>
        <input type="text" class="form-control" placeholder="Sitio web" id="web">
      </div>
    </div>
    <p>Manuales</p>
    <div class="row">
      <div class="custom-control custom-switch col-md-6">
        <label class="custom-control-label" for="customSwitch1">Partes</label>
        <input type="checkbox" class="custom-control-input" id="parte" checked="">
      </div>
      <div class="custom-control custom-switch col-md-6">
        <label class="custom-control-label" for="customSwitch1">Operación</label>
        <input type="checkbox" class="custom-control-input" id="operacion" checked="">
      </div>
      <div class="custom-control custom-switch col-md-6">
        <label class="custom-control-label" for="customSwitch1">Servicio</label>
        <input type="checkbox" class="custom-control-input" id="servicio" checked="">
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">Otros</label>
        <input type="text" class="form-control"
          placeholder="Agregue detalle de más manuales con los que venga el equipo" id="otro">
      </div>
    </div>
    <p>Planos</p>
    <div class="row">
      <div class="custom-control custom-switch col-md-6">
        <label class="custom-control-label" for="customSwitch1">Eléctricos</label>
        <input type="checkbox" class="custom-control-input" id="electrico" checked="">
      </div>
      <div class="custom-control custom-switch col-md-6">
        <label class="custom-control-label" for="customSwitch1">Electrónicos</label>
        <input type="checkbox" class="custom-control-input" id="electronico" checked="">
      </div>
      <div class="custom-control custom-switch col-md-6">
        <label class="custom-control-label" for="customSwitch1">Hidráulicos</label>
        <input type="checkbox" class="custom-control-input" id="hidraulico" checked="">
      </div>
      <div class="custom-control custom-switch col-md-6">
        <label class="custom-control-label" for="customSwitch1">Neumáticos</label>
        <input type="checkbox" class="custom-control-input" id="neumatico" checked="">
      </div>
    </div>
  </div>
</div>