.historico {
    .button-wrapper {
        text-align: center;
        button {
            margin: 20px 15px;
            &.guardar-equipo[disabled] {
                background-color: #777;
            }
        }
    }
}