header {
    position: fixed;
    height: 65px;
    background-color: #ffffff;
    width: 100%;
    z-index: 5;
    box-sizing: border-box;
    padding: 17px 90px;
    text-align: center;
    * {
        display: inline-block;
        vertical-align: top;
    }

    > img {
        float: left;
    }

    h1 {
        font-size: 18px;
        font-weight: 400;
        color: #545871;
        line-height: 31px;
        padding: 0;
        margin: 0 0 0 60px;
    }
}

.body {
    padding-top: 65px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 65px 15px 0;
    
    .col-form-label {
        display: block;
    }

    .subpage {
        background-color: #545871;
    }

    .left-content {
        padding-top: 50%;
        transform: translateY(-50%);
        color: #F7EBEB;
    }

    .right-content {
        color: #545871;
        background-color: #F7EBEB;

        input[type="text"], input[type="number"], input[type="password"], select {
            padding: 3px 5px;
            color: #545871;
            border: solid 1px #545871;
        }

        input::placeholder{
            color: #545871;
        }
    }
}

footer {
    width: 100%;
    background-color: #f2f3f8;
    color: #28292d;

    ul {
        padding: 0;
        margin: 0;
    }

    > ul {
        white-space: nowrap;

        li {
            list-style: none;
        }

        > li {
            width: 32%;
            padding: 20px 40px;
            margin: 0 1.3% 0 0;
            display: inline-block;
            vertical-align: top;
            h2 {
                position: relative;
                font-size: 1.3em;
                padding: 0px 0 20px 0;
                &:after {
                    background: linear-gradient(to right, #58a0e9 5%, #e6e6ec 45%);
                    position: absolute;
                    content: "";
                    height: 4px;
                    right: 0;
                    left: 0;
                    bottom: 0;
                }
            }
            &:last-child {
                ul {
                    white-space: normal;
                    li {
                        display: inline-block;
                        width: 32%;
                    }
                }
            }
            ul {
                width: 100%;
                li {
                    h4,
                    i {
                        font-size: 12px;
                    }
                    i {
                        margin: 0 5px 0 0;
                    }
                    * {
                        display: inline;
                    }
                }
            }
        }
    }
}
