<p>
  REGISTRO HISTÓRICO DEL EQUIPO BIOMÉDICO
</p>

<div class="container">
  <div class="row">
    <div class="card text-white bg-primary mb-3 col-md-6">
      <div class="card-body">
        <h4 class="card-title">HOJA DE VIDA DEL EQUIPO</h4>
        <p class="card-text">Llevar la trazabilidad de los equipos médicos con los que cuenta la institución para llevar
          una vigilancia en la post - adquisición de estos de tal forma que se garantice que los dispositivos médicos en
          uso son seguros y efectivos.</p>
      </div>
    </div>
    <div class="card text-white bg-primary mb-3 col-md-6">
      <div class="card-body">
        <h4 class="card-title">REGISTRO HISTÓRICO DEL EQUIPO</h4>
        <p class="card-text">Permite llevar la trazabilidad de los equipos médicos con los que cuenta la institución para llevar
          una vigilancia en la post - adquisición de estos de tal forma que se garantice que los dispositivos médicos en
          uso son seguros y efectivos.</p>
      </div>
    </div>
  </div>
</div>