<div class="row subpage registro-historico">
  <h2 class="col-md-3 text-center left-content">
    REGISTRO HISTÓRICO DEL EQUIPO BIOMÉDICO
  </h2>

  <div class="col-md-9 right-content">
    <div class="row card-container">
      <div class="card text-white mb-3 col-md-3 offset-md-2">
        <div routerLink="/hoja-de-vida" class="card-body">
          <i class="fas fa-scroll"></i>
          <h4 class="card-title">HOJA DE VIDA DEL EQUIPO</h4>
        </div>
      </div>
      <div routerLink="/historico" class="card text-white mb-3 col-md-3 offset-md-2">
        <div class="card-body">
          <i class="fas fa-history"></i>
          <h4 class="card-title">REGISTRO HISTÓRICO DEL EQUIPO</h4>
        </div>
      </div>
    </div>
  </div>